<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Myapp</title>
    <base href="/">
    <!--<script src="assets/Scripts/jquery.js"></script>-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
<link href="frontend/styles.a3339970580624edf050.bundle.css" rel="stylesheet"/></head>

<body>
    <app-root>Loading...</app-root>
<script type="text/javascript" src="frontend/inline.da62473f59cb80dc1c26.bundle.js"></script><script type="text/javascript" src="frontend/polyfills.682313b6b06f69a5089e.bundle.js"></script><script type="text/javascript" src="frontend/vendor.14c8b26bb8f7815a5fd5.bundle.js"></script><script type="text/javascript" src="frontend/main.48746570de6a9f9d23ab.bundle.js"></script></body>




</html>
