<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Myapp</title>
    <base href="/">
    <!--<script src="assets/Scripts/jquery.js"></script>-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
<link href="frontend/styles.a3339970580624edf050.bundle.css" rel="stylesheet"/></head>

<body>
    <app-root>Loading...</app-root>
<script type="text/javascript" src="frontend/inline.e700d21eed35a0673dfc.bundle.js"></script><script type="text/javascript" src="frontend/polyfills.d90888e283bda7f009a0.bundle.js"></script><script type="text/javascript" src="frontend/vendor.14c8b26bb8f7815a5fd5.bundle.js"></script><script type="text/javascript" src="frontend/main.3128af70ec6f3ab0ea40.bundle.js"></script></body>




</html>