<% include partials/header %>

    <div class="container">
        <div class="well well-md">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Content Management System</h1>
                </div>
            </div>
        </div>
    </div>
<% include partials/footer %>