<% include partials/header %>

    <div class="container">
        <h1>Categories</h1>
        <hr>
        <%- messages('message', locals) %>
            <table class="table">
                <tr>
                    <th>Category</th>
                    <th>Sub Category</th>
                    <th></th>
                </tr>
                <% category.forEach(function(cat){ %>
                    <tr>
                        <td>
                            <%= cat.name %>
                        </td>
                        <td>
                            <table>
                                <% cat.subcat.forEach(function(sub){ %>
                                    <tr>
                                        <td>
                                            <%= sub.name %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </table>
                        </td>
                        <td>
                            <a href="/cms/subcategory_add/<%= cat._id %>" class="btn btn-primary btn-xs">Add SubCategory</a>
                        </td>
                    </tr>
                    <% }) %>
            </table>
    </div>
    <% include partials/footer %>