<% include partials/header %>

    <div class="container">
        <div class="well well-md">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">Content Management System</h1>
                </div>
                <div class="panel-body">
                    <form class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="text" name="us-email"><br>
                        <label>Password</label>
                        <input class="form-control" type="password" name="us-pswd"><br>
                        <input class="form-control btn btn-primary" type="submit" name="us-sbmt" value="Sumbit">

                    </form>
                </div>
            </div>
        </div>
    </div>
    <% include partials/footer %>