<% include partials/header %>

    <div class="container">
        <h1>dashboard</h1>
        <p><strong>name: </strong><%=  acc.ShopkeeperName  %></p>
        <p><strong>shop name: </strong><%=  acc.ShopName  %></p>
        <p><strong>address: </strong><%=  acc.ShopAddress  %></p>
    </div>
    <% include partials/footer %>